Import some libraries we'll use:

In [1]:
import urllib.request
import gzip
import zipfile
import pandas as pd
import os
import matplotlib.pyplot as plt
import rasterio as rio
from pyproj import Proj, transform
from scipy.spatial import cKDTree  

%matplotlib inline

# Get NOAA weather stations

First, let's get the [list of NOAA weather stations](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt) so that we have a lat/lon location for each:

In [2]:
file = 'ghcnd-stations.txt'

if os.path.isfile(file):
    print('Stations already downloaded, using local file.')
else:
    print('Using online stations file directly.')
    file = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt'

# we are using 100000 rows here to let pandas figure out the column widths - this is a bit slower, 
# but makes sure that we get all the stations way out west or south correctly without chopping of the minus sign 
stations = pd.read_fwf(file, 
            infer_nrows=100000, # how many rows to use to infer the column widths
            usecols = [0,1,2,3,5],
            names = ["station", "lat", "lon", "elevation", "name"])

stations.head()

Stations already downloaded, using local file.

       station      lat      lon  elevation                   name
0  ACW00011604  17.1167 -61.7833       10.1  ST JOHNS COOLIDGE FLD
1  ACW00011647  17.1333 -61.7833       19.2               ST JOHNS
2  AE000041196  25.3330  55.5170       34.0    SHARJAH INTER. AIRP
3  AEM00041194  25.2550  55.3640       10.4             DUBAI INTL
4  AEM00041217  24.4330  54.6510       26.8         ABU DHABI INTL

Check the range of the lat and lon columns to make sure the coordinates have been parsed correctly:

In [3]:
print(f'Lats go from {stations.lat.min()} to {stations.lat.max()}')
print(f'Lons go from {stations.lon.min()} to {stations.lon.max()}')

Lats go from -90.0 to 83.65
Lons go from -179.983 to 179.32

Pull out the country ID from the station column (first two letters):

In [4]:
stations["country"] = stations["station"].astype(str).str[0:2]
stations.head()

       station      lat      lon  elevation                   name country
0  ACW00011604  17.1167 -61.7833       10.1  ST JOHNS COOLIDGE FLD      AC
1  ACW00011647  17.1333 -61.7833       19.2               ST JOHNS      AC
2  AE000041196  25.3330  55.5170       34.0    SHARJAH INTER. AIRP      AE
3  AEM00041194  25.2550  55.3640       10.4             DUBAI INTL      AE
4  AEM00041217  24.4330  54.6510       26.8         ABU DHABI INTL      AE

Since the GHSL data we'll be using later is in Mollweide projection, we'll need to [project](https://github.com/pyproj4/pyproj) the lat/lon to the World Mollweide projection that the raster uses and pick up the values at those projected coordinates:

In [5]:
inProj = Proj(init='epsg:4326')   # lat/lon 
outProj = Proj('+proj=moll +lon_0=0 +x_0=0 +y_0=0 +datum=WGS84 +units=m +no_defs', preserve_flags=True) # Mollweide

projectedLocations = []

# go through the list of stations and project each one to Mollweide
for index, station in stations.iterrows():
    projectedLocations.append((transform(inProj,outProj,station['lon'],station['lat'])))

# add the projected coordinates back to the stations dataframe
stations['mollX'], stations['mollY'] = zip(*projectedLocations)
stations.head()

,station,lat,lon,elevation,name,country,mollX,mollY
0,ACW00011604,17.1167,-61.7833,10.1,ST JOHNS COOLIDGE FLD,AC,-6.021233e+06,2.104299e+06
1,ACW00011647,17.1333,-61.7833,19.2,ST JOHNS,AC,-6.020901e+06,2.106316e+06
2,AE000041196,25.3330,55.5170,34.0,SHARJAH INTER. AIRP,AE,5.226731e+06,3.092960e+06
3,AEM00041194,25.2550,55.3640,10.4,DUBAI INTL,AE,5.214407e+06,3.083680e+06
4,AEM00041217,24.4330,54.6510,26.8,ABU DHABI INTL,AE,5.168502e+06,2.985740e+06

# Get [GHSL population data](https://ghsl.jrc.ec.europa.eu/ghs_pop.php) for 1975

Download dir at http://cidportal.jrc.ec.europa.eu/ftp/jrc-opendata/GHSL/GHS_POP_GPW4_GLOBE_R2015A/

In [11]:
file = 'GHS_POP_GPW41975_GLOBE_R2015A_54009_250_v1_0/GHS_POP_GPW41975_GLOBE_R2015A_54009_250_v1_0.tif'

if os.path.isfile(file):
    print('GHSL population data for 1975 already downloaded.')
else:
    url = 'http://cidportal.jrc.ec.europa.eu/ftp/jrc-opendata/GHSL/GHS_POP_GPW4_GLOBE_R2015A/GHS_POP_GPW41975_GLOBE_R2015A_54009_250/V1-0/GHS_POP_GPW41975_GLOBE_R2015A_54009_250_v1_0.zip'
    urllib.request.urlretrieve(url, file)
    
    zip_ref = zipfile.ZipFile(file, 'r')
    zip_ref.extractall('.')
    zip_ref.close()
    
    # remove the ZIP file and the extracted overview file - we don't need it and the .ovr file is huge (3GB!)
    os.remove('GHS_POP_GPW41975_GLOBE_R2015A_54009_250_v1_0.zip')
    os.remove('GHS_POP_GPW41975_GLOBE_R2015A_54009_250_v1_0/GHS_POP_GPW41975_GLOBE_R2015A_54009_250_v1_0.tif.ovr')

GHSL population data for 1975 already downloaded.

We'll use the data to assign each station an estimate of the population density in the GHSL cell that it is in. Since GHSL is in an equal area projection (i.e. all cells have the same area), we can safely do that.

We'll use [rasterio's sample method](https://gis.stackexchange.com/questions/190423/getting-pixel-values-at-single-point-using-rasterio) for that. Let's read in the GeoTIFF first:

In [12]:
pop1975 = rio.open(file)
pop1975

In [13]:
pop1975.bounds

BoundingBox(left=-17619594.54744353, bottom=-6484970.538131511, right=17877405.45255647, top=8750529.46186849)

In [14]:
pop1975.meta

{'driver': 'GTiff',
 'dtype': 'float32',
 'nodata': None,
 'width': 141988,
 'height': 60942,
 'count': 1,
 'crs': CRS.from_wkt('PROJCS["World_Mollweide",GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.017453292519943295]],PROJECTION["Mollweide"],PARAMETER["False_Easting",0.0],PARAMETER["False_Northing",0.0],PARAMETER["Central_Meridian",0.0],UNIT["Meter",1.0]]'),
 'transform': Affine(250.0, 0.0, -17619594.54744353,
        0.0, -250.0, 8750529.46186849)}

To get values at point locations, we can simply pass a list of ```(x,y)``` tuples and rasterio will return a list of values at those points:

In [15]:
for val in pop1975.sample([(8432553,2759349)]):
    print(val)

[2680.5662]

Check that all coordinates are in the raster's bounding box:

In [17]:
print(min(stations['mollX']) > pop1975.bounds.left)
print(max(stations['mollX']) < pop1975.bounds.right)

print(min(stations['mollY']) > pop1975.bounds.bottom)
print(max(stations['mollY']) < pop1975.bounds.top)

True
True
False
False

Okay, so there are some stations North and South of our raster. Export to CSV to take a look in QGIS:

In [18]:
stations.to_csv('stations_moll.csv')

Remove the stations that are outside of our raster bounding box (they are not really useful for our UHI analysis anyway, and [rasterio seems trip over them](https://gis.stackexchange.com/questions/323481/error-using-rasterios-sample-method)):

In [19]:
print(f'Before removal: {len(stations.index)} stations.')
stations = stations.drop(stations[stations['mollY'] < pop1975.bounds.bottom].index)
stations = stations.drop(stations[stations['mollY'] > pop1975.bounds.top].index)
print(f'After removal: {len(stations.index)} stations.')

Before removal: 113951 stations.
After removal: 113848 stations.

In [20]:
stations.to_csv('stations_moll_inraster.csv')

Now we can use those remaining station locations to sample the raster:

In [98]:
locations = list(zip(stations['mollX'], stations['mollY']))
pop1975col = []

for val in pop1975.sample(locations):
    pop1975col.append(val[0])

# make this list a new column in our stations dataframe
stations['pop1975'] = pop1975col
stations.to_csv('stations_moll_inraster_pop1975.csv')
stations.head()

,station,lat,lon,elevation,name,country,mollX,mollY,pop1975
0,ACW00011604,17.1167,-61.7833,10.1,ST JOHNS COOLIDGE FLD,AC,-6.021233e+06,2.104299e+06,0.000000
1,ACW00011647,17.1333,-61.7833,19.2,ST JOHNS,AC,-6.020901e+06,2.106316e+06,0.000000
2,AE000041196,25.3330,55.5170,34.0,SHARJAH INTER. AIRP,AE,5.226731e+06,3.092960e+06,0.000000
3,AEM00041194,25.2550,55.3640,10.4,DUBAI INTL,AE,5.214407e+06,3.083680e+06,2.571450
4,AEM00041217,24.4330,54.6510,26.8,ABU DHABI INTL,AE,5.168502e+06,2.985740e+06,21.834427

üî• ToDo: Generate some stats about the frequencies, i.e. how many stations do we have in densely populated areas?

# Spatial Index

Next, we'll build a spatial index of the stations, so we can quickly look up the nearest neighbors of any station. We'll be using the [scipy.spatial.cKDTree](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.cKDTree.query.html) (based on [this hint](https://gis.stackexchange.com/a/301935/33224).). For that, we'll pull out just the Mollweide coordinates and build the index based on those (otherwise SciPy will make a multidimensional index using all columns):

In [8]:
stationsIndex = cKDTree(stations[['mollX','mollY']].values)

In [12]:
distances, indexes = stationsIndex.query([[-6.021233,2.104299]], k=1)
print (distances)
print(indexes)
print(f"Clostest station: {stations.iloc[indexes]}")

[630575.15765208]
[34253]
Clostest station:            station    lat    lon  elevation      name country          mollX  \
34253  GHM00065467  4.896 -1.775        6.4  TAKORADI      GH -177494.672539

               mollY
34253  605082.932045

# Get NOAA NCDC data

Download the data from NOAA. The columns in the file are documented [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/readme.txt).

In [ ]:
file = '1975.csv.gz'
if os.path.isfile(file):
    print(file, 'already downloaded.')
else:
    urllib.request.urlretrieve('https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1975.csv.gz', file)

Before we can read the file, we'll define our own date parser:

In [ ]:
noaadateparser = lambda x: pd.datetime.strptime(x, "%Y%m%d")

Unzip the file and load the CSV with pandas, using our date parser. We'll also give the columns names since the CSV doesn't have a header üßü‚Äç:

In [ ]:
with gzip.open('1975.csv.gz') as f:

    data_1975 = pd.read_csv(f, 
                            names = ["station", "date", "type", "value"],
                            usecols = [0,1,2,3],
                            parse_dates = ["date"],
                            date_parser = noaadateparser)

data_1975.head()

In [ ]:
data_1975.dtypes

Only keep TMIN and TMAX:

In [ ]:
data_1975 = data_1975[(data_1975["type"] == "TMAX") | (data_1975["type"] == "TMIN")]

In [ ]:
data_1975.head

Join the two together:

In [ ]:
data_1975 = pd.merge(data_1975, stations, on="station")
data_1975.head()

Index the dataframe by country, station, date and observation type:

In [ ]:
data_1975.set_index(['country','station','date','type'], inplace=True)
data_1975.head()

In [ ]:
data_1975.loc['US']