Import some libraries we'll use:

In [8]:
import urllib.request
import gzip
import pandas as pd
import os

Download the data from NOAA. The columns in the file are documented [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/readme.txt).

In [22]:
file = '1975.csv.gz'
if os.path.isfile(file):
    print(file, 'already downloaded.')
else:
    urllib.request.urlretrieve('https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1975.csv.gz', file)

1975.csv.gz already downloaded.

Before we can read the file, we'll define our own date parser:

In [23]:
noaadateparser = lambda x: pd.datetime.strptime(x, "%Y%m%d")

Unzip the file and load the CSV with pandas, using our date parser. We'll also give the columns names since the CSV doesn't have a header üßü‚Äç:

In [24]:
with gzip.open('1975.csv.gz') as f:

    data_1975 = pd.read_csv(f, 
                            names = ["station", "date", "type", "value"],
                            usecols = [0,1,2,3],
                            parse_dates = ["date"],
                            date_parser = noaadateparser)

data_1975.head()

       station       date  type  value
0  CA008203164 1975-01-01  TMAX     17
1  CA008203164 1975-01-01  TMIN    -11
2  CA008203164 1975-01-01  PRCP    216
3  CA008203164 1975-01-01  SNOW    216
4  CA008105560 1975-01-01  TMAX     17

In [25]:
data_1975.dtypes

station            object
date       datetime64[ns]
type               object
value               int64
dtype: object

Only keep TMIN and TMAX:

In [26]:
data_1975 = data_1975[(data_1975["type"] == "TMAX") | (data_1975["type"] == "TMIN")]

In [27]:
data_1975

              station       date  type  value
0         CA008203164 1975-01-01  TMAX     17
1         CA008203164 1975-01-01  TMIN    -11
4         CA008105560 1975-01-01  TMAX     17
5         CA008105560 1975-01-01  TMIN    -67
10        CA007056600 1975-01-01  TMAX    -22
11        CA007056600 1975-01-01  TMIN   -111
15        CA007048421 1975-01-01  TMAX   -100
16        CA007048421 1975-01-01  TMIN   -278
19        CA007045400 1975-01-01  TMAX   -139
20        CA007045400 1975-01-01  TMIN   -261
24        ASN00040101 1975-01-01  TMAX    336
26        CA007020860 1975-01-01  TMAX    -11
27        CA007020860 1975-01-01  TMIN    -89
31        CA006166450 1975-01-01  TMAX     11
32        CA006166450 1975-01-01  TMIN    -39
35        CA006141919 1975-01-01  TMAX    -17
36        CA006141919 1975-01-01  TMIN    -61
40        CA006107955 1975-01-01  TMAX      0
41        CA006107955 1975-01-01  TMIN    -50
45        ASN00014814 1975-01-01  TMAX    386
46        ASN00014814 1975-01-01  TMIN    234
51        USW00024229 1975-01-01  TMAX     83
52        USW00024229 1975-01-01  TMIN     17
66        CA004018880 1975-01-01  TMAX    -11
67        CA004018880 1975-01-01  TMIN   -189
70        USW00012842 1975-01-01  TMAX    267
71        USW00012842 1975-01-01  TMIN    150
86        CA003065505 1975-01-01  TMAX     11
87        CA003065505 1975-01-01  TMIN    -72
94        USC00509144 1975-01-01  TMAX   -122
...               ...        ...   ...    ...
33775613  MXN00016003 1975-12-31  TMAX    200
33775614  MXN00016003 1975-12-31  TMIN     61
33775617  USC00010148 1975-12-31  TMAX    100
33775618  USC00010148 1975-12-31  TMIN     44
33775623  MXN00013065 1975-12-31  TMAX    250
33775624  MXN00013065 1975-12-31  TMIN     78
33775626  MXN00011055 1975-12-31  TMAX    250
33775627  MXN00011055 1975-12-31  TMIN    -44
33775632  MXN00008139 1975-12-31  TMAX    156
33775633  MXN00008139 1975-12-31  TMIN   -100
33775635  MXN00007172 1975-12-31  TMAX    256
33775636  MXN00007172 1975-12-31  TMIN    117
33775640  MXN00003013 1975-12-31  TMAX    217
33775641  MXN00003013 1975-12-31  TMIN     78
33775643  MXN00001031 1975-12-31  TMAX    217
33775644  MXN00001031 1975-12-31  TMIN    -44
33775650  CHM00059211 1975-12-31  TMAX    202
33775651  CHM00059211 1975-12-31  TMIN      3
33775654  DA000027080 1975-12-31  TMAX     58
33775655  DA000027080 1975-12-31  TMIN     54
33775668  GME00127690 1975-12-31  TMAX     55
33775669  GME00127690 1975-12-31  TMIN    -12
33775672  AU000015410 1975-12-31  TMAX    -54
33775673  AU000015410 1975-12-31  TMIN    -80
33775679  ASN00019066 1975-12-31  TMAX    356
33775680  ASN00019066 1975-12-31  TMIN    205
33775682  GME00120994 1975-12-31  TMAX     51
33775683  GME00120994 1975-12-31  TMIN      0
33775688  ASN00095001 1975-12-31  TMAX    275
33775689  ASN00095001 1975-12-31  TMIN     70

[10650545 rows x 4 columns]

Next, let's get the list of stations so that we have lat/lon for each:

In [28]:
stations = pd.read_fwf("https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt", 
            infer_nrows=300, # how many rows to use to infer the column widths
            usecols = [0,1,2,3,4],
            names = ["station", "lat", "lon", "elevation", "name"])

stations.head()

       station      lat      lon  elevation                   name
0  ACW00011604  17.1167 -61.7833       10.1  ST JOHNS COOLIDGE FLD
1  ACW00011647  17.1333 -61.7833       19.2               ST JOHNS
2  AE000041196  25.3330  55.5170       34.0    SHARJAH INTER. AIRP
3  AEM00041194  25.2550  55.3640       10.4             DUBAI INTL
4  AEM00041217  24.4330  54.6510       26.8         ABU DHABI INTL

Join the two together:

In [29]:
data_1975 = pd.merge(data_1975, stations, on="station")
data_1975.head()

,station,date,type,value,lat,lon,elevation,name
0,CA008203164,1975-01-01,TMAX,17,45.6,-60.75,15.0,LOWER L'ARDOISE
1,CA008203164,1975-01-01,TMIN,-11,45.6,-60.75,15.0,LOWER L'ARDOISE
2,CA008203164,1975-01-02,TMAX,-11,45.6,-60.75,15.0,LOWER L'ARDOISE
3,CA008203164,1975-01-02,TMIN,-72,45.6,-60.75,15.0,LOWER L'ARDOISE
4,CA008203164,1975-01-03,TMAX,-11,45.6,-60.75,15.0,LOWER L'ARDOISE

Pull out the country ID from the station column (first two letters):

In [30]:
data_1975["country"] = data_1975["station"].astype(str).str[0:2]
data_1975

,station,date,type,value,lat,lon,elevation,name,country
0,CA008203164,1975-01-01,TMAX,17,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
1,CA008203164,1975-01-01,TMIN,-11,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
2,CA008203164,1975-01-02,TMAX,-11,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
3,CA008203164,1975-01-02,TMIN,-72,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
4,CA008203164,1975-01-03,TMAX,-11,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
5,CA008203164,1975-01-03,TMIN,-72,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
6,CA008203164,1975-01-04,TMAX,33,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
7,CA008203164,1975-01-04,TMIN,-61,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
8,CA008203164,1975-01-05,TMAX,-6,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
9,CA008203164,1975-01-05,TMIN,-33,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
10,CA008203164,1975-01-06,TMAX,-17,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
11,CA008203164,1975-01-06,TMIN,-67,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
12,CA008203164,1975-01-07,TMAX,17,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
13,CA008203164,1975-01-07,TMIN,-94,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
14,CA008203164,1975-01-08,TMAX,22,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
15,CA008203164,1975-01-08,TMIN,-11,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
16,CA008203164,1975-01-09,TMAX,11,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
17,CA008203164,1975-01-09,TMIN,-28,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
18,CA008203164,1975-01-10,TMAX,22,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
19,CA008203164,1975-01-10,TMIN,-28,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
20,CA008203164,1975-01-11,TMAX,44,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
21,CA008203164,1975-01-11,TMIN,0,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
22,CA008203164,1975-01-12,TMAX,78,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
23,CA008203164,1975-01-12,TMIN,6,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
24,CA008203164,1975-01-13,TMAX,72,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
25,CA008203164,1975-01-13,TMIN,0,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
26,CA008203164,1975-01-14,TMAX,17,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
27,CA008203164,1975-01-14,TMIN,-11,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
28,CA008203164,1975-01-15,TMAX,6,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
29,CA008203164,1975-01-15,TMIN,-56,45.600,-60.750,15.0,LOWER L'ARDOISE,CA
...,...,...,...,...,...,...,...,...,...
10650515,MXN00031055,1975-12-22,TMAX,278,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650516,MXN00031055,1975-12-22,TMIN,56,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650517,MXN00031055,1975-12-23,TMAX,317,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650518,MXN00031055,1975-12-23,TMIN,56,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650519,MXN00031055,1975-12-24,TMAX,328,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650520,MXN00031055,1975-12-24,TMIN,117,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650521,MXN00031055,1975-12-25,TMAX,317,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650522,MXN00031055,1975-12-25,TMIN,178,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650523,MXN00031055,1975-12-26,TMAX,267,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650524,MXN00031055,1975-12-26,TMIN,189,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650525,MXN00031055,1975-12-27,TMAX,317,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650526,MXN00031055,1975-12-27,TMIN,150,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650527,MXN00031055,1975-12-28,TMAX,328,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650528,MXN00031055,1975-12-28,TMIN,167,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650529,MXN00031055,1975-12-29,TMAX,339,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650530,MXN00031055,1975-12-29,TMIN,117,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650531,MXN00031055,1975-12-30,TMAX,339,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650532,MXN00031055,1975-12-30,TMIN,106,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650533,MXN00031055,1975-12-31,TMAX,339,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650534,MXN00031055,1975-12-31,TMIN,156,21.000,-88.300,26.8,E.T.A. 443 ESPITA,MX
10650535,RSM00022727,1975-12-13,TMIN,-20,62.167,34.300,38.0,KONDOPOGA,RS
10650536,RSM00022727,1975-12-19,TMIN,-150,62.167,34.300,38.0,KONDOPOGA,RS
10650537,RSM00022727,1975-12-21,TMIN,-110,62.167,34.300,38.0,KONDOPOGA,RS
10650538,RSM00022833,1975-12-22,TMIN,-60,61.783,37.750,116.0,KOLODOZERO,RS
10650539,RSM00022915,1975-12-22,TMIN,-10,60.467,32.900,8.0,SVIRICA,RS
10650540,RSM00022915,1975-12-25,TMIN,-110,60.467,32.900,8.0,SVIRICA,RS
10650541,MXM00076741,1975-12-28,TMAX,220,18.133,-94.417,22.0,COATZACOALCOS VER.,MX
10650542,MXM00076741,1975-12-28,TMIN,190,18.133,-94.417,22.0,COATZACOALCOS VER.,MX
10650543,MXM00076737,1975-12-29,TMIN,110,18.850,-97.100,1259.0,ORIZABA,MX
10650544,RWM00064387,1975-12-29,TMIN,140,-1.969,30.139,1481.0,KIGALI INTL,RW

Index the dataframe by station, date and observation type:

In [31]:
data_1975.set_index(['station','date','type'], inplace=True)
data_1975

                             value     lat     lon  elevation  \
station     date       type
CA008203164 1975-01-01 TMAX     17  45.600 -60.750       15.0
                       TMIN    -11  45.600 -60.750       15.0
            1975-01-02 TMAX    -11  45.600 -60.750       15.0
                       TMIN    -72  45.600 -60.750       15.0
            1975-01-03 TMAX    -11  45.600 -60.750       15.0
                       TMIN    -72  45.600 -60.750       15.0
            1975-01-04 TMAX     33  45.600 -60.750       15.0
                       TMIN    -61  45.600 -60.750       15.0
            1975-01-05 TMAX     -6  45.600 -60.750       15.0
                       TMIN    -33  45.600 -60.750       15.0
            1975-01-06 TMAX    -17  45.600 -60.750       15.0
                       TMIN    -67  45.600 -60.750       15.0
            1975-01-07 TMAX     17  45.600 -60.750       15.0
                       TMIN    -94  45.600 -60.750       15.0
            1975-01-08 TMAX     22  45.600 -60.750       15.0
                       TMIN    -11  45.600 -60.750       15.0
            1975-01-09 TMAX     11  45.600 -60.750       15.0
                       TMIN    -28  45.600 -60.750       15.0
            1975-01-10 TMAX     22  45.600 -60.750       15.0
                       TMIN    -28  45.600 -60.750       15.0
            1975-01-11 TMAX     44  45.600 -60.750       15.0
                       TMIN      0  45.600 -60.750       15.0
            1975-01-12 TMAX     78  45.600 -60.750       15.0
                       TMIN      6  45.600 -60.750       15.0
            1975-01-13 TMAX     72  45.600 -60.750       15.0
                       TMIN      0  45.600 -60.750       15.0
            1975-01-14 TMAX     17  45.600 -60.750       15.0
                       TMIN    -11  45.600 -60.750       15.0
            1975-01-15 TMAX      6  45.600 -60.750       15.0
                       TMIN    -56  45.600 -60.750       15.0
...                            ...     ...     ...        ...
MXN00031055 1975-12-22 TMAX    278  21.000 -88.300       26.8
                       TMIN     56  21.000 -88.300       26.8
            1975-12-23 TMAX    317  21.000 -88.300       26.8
                       TMIN     56  21.000 -88.300       26.8
            1975-12-24 TMAX    328  21.000 -88.300       26.8
                       TMIN    117  21.000 -88.300       26.8
            1975-12-25 TMAX    317  21.000 -88.300       26.8
                       TMIN    178  21.000 -88.300       26.8
            1975-12-26 TMAX    267  21.000 -88.300       26.8
                       TMIN    189  21.000 -88.300       26.8
            1975-12-27 TMAX    317  21.000 -88.300       26.8
                       TMIN    150  21.000 -88.300       26.8
            1975-12-28 TMAX    328  21.000 -88.300       26.8
                       TMIN    167  21.000 -88.300       26.8
            1975-12-29 TMAX    339  21.000 -88.300       26.8
                       TMIN    117  21.000 -88.300       26.8
            1975-12-30 TMAX    339  21.000 -88.300       26.8
                       TMIN    106  21.000 -88.300       26.8
            1975-12-31 TMAX    339  21.000 -88.300       26.8
                       TMIN    156  21.000 -88.300       26.8
RSM00022727 1975-12-13 TMIN    -20  62.167  34.300       38.0
            1975-12-19 TMIN   -150  62.167  34.300       38.0
            1975-12-21 TMIN   -110  62.167  34.300       38.0
RSM00022833 1975-12-22 TMIN    -60  61.783  37.750      116.0
RSM00022915 1975-12-22 TMIN    -10  60.467  32.900        8.0
            1975-12-25 TMIN   -110  60.467  32.900        8.0
MXM00076741 1975-12-28 TMAX    220  18.133 -94.417       22.0
                       TMIN    190  18.133 -94.417       22.0
MXM00076737 1975-12-29 TMIN    110  18.850 -97.100     1259.0
RWM00064387 1975-12-29 TMIN    140  -1.969  30.139     1481.0

                                            name country
station     date       type
CA008203164 1975-01-01 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-02 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-03 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-04 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-05 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-06 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-07 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-08 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-09 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-10 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-11 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-12 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-13 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-14 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
            1975-01-15 TMAX      LOWER L'ARDOISE      CA
                       TMIN      LOWER L'ARDOISE      CA
...                                          ...     ...
MXN00031055 1975-12-22 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-23 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-24 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-25 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-26 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-27 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-28 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-29 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-30 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
            1975-12-31 TMAX    E.T.A. 443 ESPITA      MX
                       TMIN    E.T.A. 443 ESPITA      MX
RSM00022727 1975-12-13 TMIN            KONDOPOGA      RS
            1975-12-19 TMIN            KONDOPOGA      RS
            1975-12-21 TMIN            KONDOPOGA      RS
RSM00022833 1975-12-22 TMIN           KOLODOZERO      RS
RSM00022915 1975-12-22 TMIN              SVIRICA      RS
            1975-12-25 TMIN              SVIRICA      RS
MXM00076741 1975-12-28 TMAX  COATZACOALCOS  VER.      MX
                       TMIN  COATZACOALCOS  VER.      MX
MXM00076737 1975-12-29 TMIN              ORIZABA      MX
RWM00064387 1975-12-29 TMIN          KIGALI INTL      RW

[10650545 rows x 6 columns]